nav {
    text-align: center;
}

.nav-link{
    display: inline-block;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 6px 6px;
    text-decoration: none;
    text-align: center;
    font-size: large;
    color: black;
}
  
.active {
    color: goldenrod;
}